@charset "UTF-8";

.review_container {
	margin-top: 100px;
	font-family: 'Roboto', sans-serif;
	line-height: 1.6
}

.container {
	width: 800px;
	margin: 0 auto;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current {
	background: #ededed;
	color: #222;
}

.tab-content {
	display: none;
	background: #ededed;
	padding: 15px;
}

.tab-content.current {
	display: inherit;
}

.deletebtn {
	margin-right: 100px;
	text-align: right;
}

.delConfirm {
	padding: 3px;
	font-size: 13px;
	cursor: pointer;
	border: 1px solid #5D5D5D;
	border-radius: 5px;
	text-decoration: none;
}

.replyView {
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	margin-left: 80px;
	margin-top: 20px;
	width: 600px;
}

#replyView {
	padding: 5px;
	font-size: 15px;
	width: 500px;
	border-radius: 5px;
	filter: alpha(opacity = 70);
	opacity: 0.7;
	-moz-opacity: 0.3;
}

.replywirte {
	margin-left: 80px;
}

.write_review{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#writeBtn {
	width: 150px;
	height: 80px;
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 800;
	border: 0.5px solid #353535;
	background-color: #fff;
	border-radius: 10px;
	color: #353535;
	cursor: pointer;
}

#writeBtn:hover {
  background-color: #FBFBEF;
}

.adminId {
	font-size: 16px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	padding: 10px 0 10px 0;
	color: #5D5D5D;
}

.memberId {
	font-size: 16px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 20px;
	color: #5D5D5D;
	padding: 40px 0 0 30px;
	position: relative;
}

.title {
	font-size: 20px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 20px;
	color: #353535;
	padding: 10px;
}

.txt {
	font-size: 18px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 20px;
	color: #353535;
	margin-left: 30px;
}

.reply input[type="text"]{
	border-style: none;
	width: 300px;
	height: 30px;
}

.guestcontents {
	background-color: #fff;
	border-radius: 10px;
	width: 600px;
	margin-left: 70px;
	border: 2px solid #5D5D5D;
}

.img, .date {
	padding: 20px;
}

.date {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color: #BDBDBD;
}

.paging{
	margin-top: 100px;
	margin-bottom: 30px;
	text-align: center;
	
}

#page{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	text-decoration: underline;
	padding: 3px;
}